.scuole {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
.carousel {
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;

}
